<h1>Your Children</h1>

<%= link_to "Add Child", new_child_path, class: 'btn btn-info' %> <br><br>

<% @children.each do |child| %>
  <%= child.child_name %>
  <%= link_to "Child Profile", child_path(child), class: 'btn btn-info' %>
  <%= link_to "Edit Child", edit_child_path(child), class: 'btn btn-info' %>
  <%= link_to "Skills", child_skills_path(child), class: 'btn btn-info' %>
  <br>

<% end %>
