<h1>Your Children</h1>

<ul id='children-list'>
  <% @children.each do |child| %>
    <li>
      <%= child.child_name %>
      <%= link_to "Child Profile", child_path(child), class: 'btn btn-info' %>
      <%= link_to "Edit Child", edit_child_path(child), class: 'btn btn-info' %>
      <%= link_to "Skills", child_skills_path(child), class: 'btn btn-info' %>
    </li>
  <% end %>
</ul>
<br>

<div id="new-child">
  <h3>New Child</h3>
  <%= render 'form', child: @child %>
</div>
