<div>
  <%= link_to "Explore Skills ", new_child_skill_path, class: 'btn btn-info' %>
  <%= link_to "Child Profile", child_path(@child), class: 'btn btn-info' %>
  <%= link_to "View Children", children_path, class: 'btn btn-info' %>
</div>

<div>
  <h1> Skills for <%= @child.child_name %> </h1>
  
  <%= form_with model: @child, local:true do |form| %>
    <%= form.fields_for :accomplishments do |fields| %>
      <%= fields.hidden_field :skill_id %>
      <%= fields.check_box :perform %>
      <%= fields.object.skill.title %>
      <%= fields.text_field :comment%> <br>
    <% end %>

  <%= form.submit 'Update Skills', class: 'btn btn-primary' %>
  <% end %>
</div>
