<div>
  <h1> Skills </h1>
  <%= form_with model: @child, local:true do |form| %>
    <%= form.fields_for :child_skills do |fields| %>
      <%= fields.hidden_field :skill_id %>
      <%= fields.object.skill.title %>
      <%= fields.text_field :comment%> <br>
    <% end %>


  <%= form.submit %>
  <% end %>
</div>
